@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,500&family=Caveat:wght@500&family=Dhurjati&family=Raleway:ital,wght@0,100;0,400;0,500;0,700;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,500&family=Caveat:wght@500&family=Dhurjati&family=Raleway:ital,wght@0,100;0,400;0,500;0,700;1,600&family=Sen:wght@500&family=Smooch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@700&family=Barlow+Condensed:ital,wght@1,500&family=Caveat:wght@500&family=Dhurjati&family=Raleway:ital,wght@0,100;0,400;0,500;0,700;1,600&family=Sen:wght@500&family=Smooch&display=swap");
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  background-color: #fafafa;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #ffd200;
  display: none;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #ffd200 !important;
}

html::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
}
