@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  background-color: #fafafa;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #ffd200;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #ffd200 !important;
}

html::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
}
